.sprite { background-image: url(~/public/img/sprite-robots.png); display: block;}
.sprite-design_famale_disabled { background-position: 0% 0%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-design_famale_may { background-position: 25% 0%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-design_famale { background-position: 50% 0%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-design_male_disabled { background-position: 0% 50%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-design_male_may { background-position: 25% 50%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-design_male { background-position: 50% 50%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_famale_disabled { background-position: 75% 0%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_famale_may { background-position: 75% 50%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_famale { background-position: 100% 0%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_male_disabled { background-position: 100% 50%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_male_may { background-position: 0% 100%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}
.sprite-front_male { background-position: 25% 100%; padding-bottom: 135.59322033898303%; background-size: 500% 300%;}